@charset "UTF-8";

ul#menu {
    display: block;
    text-align: center;
    margin: auto;
    width: 600px;
    height: 50px;
}
ul#menu li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

ul#exercicios {
    list-style-type: decimal;
    list-style-position: inside;
}

div#texto_inicio { 
    border: black solid 1px;
    border-radius: 10px;
    padding: 50px;
    background-color: black;
    color: white;
}

div#tabelas {
    padding: 50px;
    
}


